---
http_interactions:
- request:
    method: get
    uri: https://api.api-ninjas.com/v1/geocoding?city=Paris&country=France
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Api-Key:
      - SQ9TUs0mgs7M1LkbMbLggw==HGi7lMffXrvIGHsj
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Amzn-Requestid:
      - d9dc1c45-008e-4cf0-bc69-389c6935df13
      Allow:
      - GET, OPTIONS, POST
      X-Amz-Apigw-Id:
      - AZBcyHZ3vHcFh_g=
    body:
      encoding: UTF-8
      string: '[{"name": "Paris", "latitude": 48.8588897, "longitude": 2.3200410217200766,
        "country": "FR", "state": "Ile-de-France"}, {"name": "Paris", "latitude":
        48.8534951, "longitude": 2.3483915, "country": "FR", "state": "Ile-de-France"},
        {"name": "Paris", "latitude": 48.8588897, "longitude": 2.3200410217200766,
        "country": "FR", "state": "Ile-de-France"}, {"name": "Parisot", "latitude":
        44.6370913, "longitude": 0.77482, "country": "FR", "state": "Nouvelle-Aquitaine"},
        {"name": "Paris", "latitude": 44.5626798, "longitude": -0.865783, "country":
        "FR", "state": "Nouvelle-Aquitaine"}]'
  recorded_at: Wed, 15 Feb 2023 17:27:09 GMT
recorded_with: VCR 6.1.0
